<%- include adminHeader %>
<% if(users.length != 0) { %>
  <h2 class="text-center">用户列表</h2>
  <% users.forEach(function (user, index) { %>
    <p class="row">
    <h5>用户名：<a href="/u/<%= user.name %>"><%= user.name %></a></h5>
    <h5>邮箱：<%= user.email %></h5> 
    </p>
    <% if(admin) { %>
      <a class="btn btn-primary btn-sm" href="/a/remove/<%= user.name %>">删除</a>
    <% } %>
  <% }) %>
<% } %>
<%- include footer %>