<%- include header %>
<ul class="list-group">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if (lastYear != post.time.year) { %>
    <li class="list-group-item"><h3><%= post.time.year %></h3></li>
  <% lastYear=post.time.year } %>
  <li class="list-group-item"><time><%= post.time.day %></time></li>
  <li class="list-group-item"><a href="/p/<%= post._id %>"><%= post.title %></a></li>
<% }) %>
</ul>
<%- include footer %>