<%- include header %>
<div class="row">
  <% var flag = 1 %>
  <% if (user && (user.name != post.name)) { %>
    <% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
      <% flag = 0 %>
    <% } %>
    <% if ((post.reprint_info.reprint_to != undefined)) { %>
      <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
        <% if (user.name == reprint_to.name) { %>
          <% flag = 0 %>
        <% } %>
      <% }) %>
    <% } %>
    <% } else { %>
      <% flag = 0 %>
    <% } %>
    <% if (flag) { %>
      <a class="btn btn-primary btn-sm" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a>
  <% } %>
  <p class="col-md-12">
    <label>作者：</label><a href="/u/<%= post.name %>"><%= post.name %></a> | 
    <label>日期：</label><%= post.time.minute %> | 
    <label>标签：</label>
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="label label-info" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>
  </p>
  <% if (post.reprint_info.reprint_from) { %>
    <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
  <% } %>
  <h2 class="col-md-12 text-center "><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
  <div class="lead col-md-10 text-left"><%- post.post %></div>
  <p class="col-md-12 ">
    <label>阅读：</label><%= post.pv %> | 
    <label>评论：</label><%= post.comments.length %> | 
    <label>转载：</label>
    <% if (post.reprint_info.reprint_to) { %>
      <%= post.reprint_info.reprint_to.length %>
    <% } else { %>
      <%= 0 %>
    <% } %>
  </p>
  <% if (user && (user.name == post.name)) { %>
    <div class="col-md-12">
      <a class="btn btn-primary btn-sm" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a>
      <a class="btn btn-primary btn-sm" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a>
    </div>
  <% } %>
  <%- include comment %>
</div>
<%- include footer %>
