<br />
<% post.comments.forEach(function (comment, index) { %>
  <div class="col-md-12">
    <p>
      <img src="<%= comment.head %>"  />
      <a href="<%= comment.website %>"><%= comment.name %></a>
      <span> 回复于 <%= comment.time %></span>
    </p>
    <p><%- comment.content %></p>
  </div> 
<% }) %>

<div class="col-md-12">
  <form method="post" class="form-horizontal">
  <% if (user) { %>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">姓名：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="name" value="<%= user.name %>" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">邮箱：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="email" value="<%= user.email %>" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">网址：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="website" value="/u/<%= user.name %>" />
      </div>
    </div>
  <% } else { %>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">姓名：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">邮箱：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="email"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label text-center">网址：</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="website" value="http://"/>
      </div>
    </div>
  <% } %>
    <textarea class="form-control col-sd-1" rows="5" name="content"></textarea>
    <button class="btn btn-default" type="submit">留言</button>
  </form>
</div>
