<%- include header %>
<% posts.forEach(function (post, index) { %>
  <div class="row">
    <h2 class="col-md-8"><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
    <a class="col-md-4" href="/u/<%= post.name %>"><img class="image-right" src="<%= post.head %>"/></a>
    <p class="col-md-12">
      <label>作者：</label><a href="/u/<%= post.name %>"><%= post.name %></a> | 
      <label>日期：</label><%= post.time.minute %> | 
      <label>阅读：</label><%= post.pv %> | 
      <label>评论：</label><%= post.comments.length %> | 
      <label>转载：</label>
      <% if (post.reprint_info.reprint_to) { %>
        <%= post.reprint_info.reprint_to.length %>
      <% } else { %>
        <%= 0 %>
      <% } %>|
      <label>标签：</label>
      <% post.tags.forEach(function (tag, index) { %>
          <% if (tag) { %>
            <a class="label label-info" href="/tags/<%= tag %>"><%= tag %></a>
          <% } %>
        <% }) %>
    </p>
  </div>

  <% if (post.reprint_info.reprint_from) { %>
    <br><a class="btn btn-default" href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
  <% } %>
<% }) %>
<%- include paging %>
<%- include footer %>